[submodule "koreader-tailscale"]
	path = koreader-tailscale
	url = git@github.com:jfmyers9/koreader-tailscale.git
[submodule "crosspoint-reader"]
	path = crosspoint-reader
	url = git@github.com:jfmyers9/crosspoint-reader.git
	branch = personal/develop
[submodule "koassistant.koplugin"]
	path = koassistant.koplugin
	url = https://github.com/jfmyers9/koassistant.koplugin.git
